* {
    margin: 0;
    padding: 0;
}

html {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(157,211,255);
    background: linear-gradient(180deg, rgba(157,211,255,1) 40%, rgba(205,233,255,1) 100%); 

}

header {
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 3vw;
    display: flex;
    align-items: center;    
    /*justify-content: center;*/
    color: #000000;
    user-select: none;
    border-bottom: #000000 solid 1px;
}

.noscript {
    color: #ffffff;
    background-color: #ff5555;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-weight: bolder;
    font-size: 15pt;
}

.name {
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-decoration: none;
}

.name h1 {
    font-style: italic;
    margin-left: 1vw;
    font-size: 45px;
    color: #000000;
}

.logo {
    color: #62b0f0;
    width: 50px;
    height: 50px;
}

.card-link {
    text-decoration: inherit;
    color: inherit;
    margin-top: 3vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    width: 74vw;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
}

.card .text {
    margin-top: 2vh;
    margin-right: 2vw;
    width: calc(74vw - 150px - 6vw);
    margin-bottom: 2vh;
}

.card h2 {
    font-size: 24pt;
    margin-bottom: 1vh;

}

.card .bottom-part {
    display: flex;
    align-items: center;
}

.card img {
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 150px;
    height: 150px;
    align-self: center;
    object-fit: cover;
    margin-right: 2vw;
    border-radius: 3px;
    user-select: none;
}

.card h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 12.5pt;
    color: #797979;
}

