* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: center;
    background-color: #00000020;
    color: white;
}